<%- include('header', {title:"Jameson",  cssFiles:["reset.css","HeaderFooter.css", "style.css"]}) %> 
    <div id="container">
        <div class="cont1">
            <div class="center">
                <div class="c1_left">
                    <h2 data-aos="fade-up" data-aos-duration="2000">단 하나뿐인 특별함</h2> 
                    <h2 data-aos="fade-up" data-aos-duration="2000">제임슨 위스키<img src="/img/star_marquee_1.svg"></h2>
                    <h5 data-aos="fade-up" data-aos-duration="1000">두 배로 부드러운 아이리쉬 위스키를 위해 세번의 증류를 고집합니다. 균형잡힌 복합미와 다양한 풍미를 경험해보세요.</h5>
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <a href="/location">구매처 찾기</a>
                    </div>
                </div>
                <div class="c1_right" data-aos="fade-left" data-aos-delay="1000" data-aos-duration="2000">
                    <img src="/img/c1_img.png">
                </div>
            </div>
        </div>
        <div class="cont2">
            <div class="flowText">
                <div class="flowTextTop">
                    <% for( let i = 0; i < 8; i++ ) { %>
                        <span><img src="/img/star_marquee_1.svg">Perfect Irish Whiskey</span>
                    <% } %>
                </div>
            </div>
            <div class="center">
                <div class="swiper c2swiper" data-aos="fade-up" data-aos-duration="1000">
                    <div class="swiper-wrapper">
                        <% recipes.forEach((el, idx) => { %>
                            <img class="swiper-slide" src="<%- el.imgs %>">
                        <% }) %>
                    </div>
                    <div class="btn_wrap">
                        <button class="swiper-button-prev">이전</button>                        
                        <button class="swiper-button-next">다음</button>
                    </div>
                </div>
                <div class="swiper c2textswiper" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="swiper-wrapper">
                        <% recipes.forEach((el, idx) => { %>
                            <div class="swiper-slide">
                                <h6>SIGNITURE COCKTAIL</h6>
                                <h3><%- el.name %></h3>
                                <p><%- el.info %></p>
                                <div class="recipe_wrap">
                                    <a href="/recipe/<%- el.link %>">레시피 보기</a>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <div class="flowText">
                <div class="flowTextBot">
                    <% for( let i = 0; i < 8; i++ ) { %>
                        <span><img src="/img/ontherock.svg">Featured Recipes</span>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="cont3">
            <div class="center">
                <div class="left_msg">
                    <h2 data-aos="fade-up" data-aos-duration="2000">더 다양해진 제임슨 위스키를 살펴보세요</h2>
                    <div class="swiper textSwiper" data-aos="fade-up" data-aos-duration="1000">
                        <div class="swiper-wrapper">
                            <% whiskey.forEach((product, idx) => { %>
                                <div class="swiper-slide">
                                    <h5><%- product.name %></h5>
                                    <a href="/product/<%- product.link %>">Go</a>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <div class="swiper c3Swiper" data-aos="flip-right" data-aos-duration="1000">
                    <div class="swiper-wrapper">
                        <% whiskey.forEach((product, idx) => { %>
                            <div class="swiper-slide">
                                <img src="<%- product.nukkiImg %>">
                            </div>
                        <% }) %>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="cont4">
            <div class="center">
                <div>
                    <div class="lefts" data-aos="fade-up" data-aos-duration="1500" onclick="window.location.href='/history'">
                        <div class="txts">
                            <p>제임슨 위스키의 300년간의 역사</p>
                            <a href="/history"><img src="/img/star_marquee_onion.svg">더보기<img src="/img/star_marquee_onion.svg"></a>
                        </div>
                    </div>
                    <div class="lefts" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200" onclick="window.location.href='/craft'">
                        <div class="txts">
                            <p>프리미엄 아이리쉬 위스키를 만드는 양조장</p>
                            <a href="/craft"><img src="/img/star_marquee_onion.svg">더보기<img src="/img/star_marquee_onion.svg"></a>
                        </div>
                    </div>
                    <div class="lefts" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
                        <div class="txts">
                            <p>제임슨 위스키를 어디서 만나볼 수 있을까요?</p>
                            <a href="/location"><img src="/img/star_marquee_onion.svg">더보기<img src="/img/star_marquee_onion.svg"></a>
                        </div>
                    </div>
                </div>
                <div class="sticky" data-aos="fade-left" data-aos-duration="500">
                    <h3>히스토리</h3>
                    <p>존 제임슨이 창립한 이래 300년간 세계 최고의 아이리쉬 위스키를 만들고자 노력하고 있습니다. 제임슨 위스키의 역사와, 살아있는 역사인 양조장을 한눈에 살펴보세요.
                    </p>
                </div>
            </div>
        </div>
    </div>
   <%- include('footer', {jsFiles:["tabMenu.js", "cont2_slide.js", "swiper_c3.js"]}) %> 