<%- include('header', {title:"Jameson",  cssFiles:["reset.css","location.css"]}) %> 
<!-- https://yhb.kr/customer-service/national-branch-network/ -->
<div id="container">
    <div class="center">
        <h2 class="title">구매처 찾기</h2>
        <div class="map_wrap">
            <div class="left_map">
                <img src="/img/maps/korea_map.png">    
                <% cities.forEach((city) => { %>
                    <span class="<%- city.engName %>">
                        <a href="/location/<%- city.engName %>"><%- city.korName %></a>
                    </span>  
                <% }) %>    
            </div>
            <div class="right_find">
                <h4>픽업 가능한 매장을 찾아보세요</h4>
                <form class="location_form">
                    <select class="location">
                        <option value="*" selected disabled>지역선택</option>
                        <% citiesSort.forEach((city) => { %>
                            <option value="<%- city.engName %>"><%- city.korName %></option>
                        <% }) %>    
                    </select>
                    <input type="text" placeholder="검색어를 입력해주세요" />
                    <button type="submit">검색</button>
                </form>
                <div class="store_area">
                    <ul class="stores">
                        <% stores.forEach((store, idx) => { %>
                        <li class="store_wrap">
                            <p class="store_city"><%- store.korName  %></p>
                            <p class="store_name"><%- store.storeName  %></p>
                            <p class="store_locate"><%- store.location  %></p>
                        </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
</div>
<script>

</script>
<%- include('footer', {jsFiles:["tabMenu.js", "location.js"]}) %> 