<%- include('header', {title:"Jameson",  cssFiles:["reset.css", "HeaderFooter.css","qna.css"]}) %> 
<div id="container">
    <!--회원일때만 작성 가능한 질의 게시판, 한 달 넘으면 자동 삭제. 운영자가 답변해줌-->
    <div class="qna_wrap">
        <h2 class="title">QnA</h2>
    </div>
    <div class="qna_detail">
        <div class="detail_head">
            <p class="Q_num"><%- data.Q_num %></p>
            <p class="Q_title"><%- data.Q_title %></a></p>
            <p class="Q_date"><%- data.Q_date %></p>
        </div>
        <div class="detail_author">
            <span>Questions</span>
            <p class="Q_author">작성자 : <%- data.Q_author %> </p>
        </div>
        <pre class="context">
            <%- data.Q_context %>
            <% if (data.attachfile.length > 0) { %>
                <img src="/upload/<%- data.attachfile %>">
            <% } %>
        </pre>
        <div class="detail_author">
            <span>Answer</span>
            <p class="A_author">작성자 : <%- login.memberName %> </p>
        </div>
        <form id="Aupdate" action="/Aupdate" method="post">
            <textarea name="A_text" id="A_text" placeholder="답변을 입력하세요." ></textarea>
            <input type="hidden" name="A_date" id="A_date"/>
            <input type="hidden" name="A_num" id="A_num" value="<%- data.Q_num %>"/>
            <button id="A_submit_Btn" type="submit">작성완료</button>
        </form>
        <div class="btn_wrap">
            <% if (login) { %>
            <!-- 운영자만 사용 가능한 답변 기능 -->
                <% if (login.role === "ADMIN" || login.memberName === data.Q_author) { %>
                    <a href="/dbdelete/<%- data.Q_num %>">삭제하기</a>
                <% } %>
            <% } %>
            <a href="/qna">뒤로가기</a>
        </div>
    </div>
</div>
<%- include('footer', {jsFiles:["tabMenu.js", "answer.js"]}) %> 