<%- include('header', {title:"제임슨 QnA 상세페이지",  cssFiles:["reset.css", "HeaderFooter.css","qna.css"]}) %> 
<div id="container">
    <!--회원일때만 작성 가능한 질의 게시판, 한 달 넘으면 자동 삭제. 운영자가 답변해줌-->
    <div class="qna_wrap">
        <h2 class="title">QnA</h2>
    </div>
    <div class="qna_detail">
        <div class="detail_head">
            <p class="Q_num"><%- data.Q_num %></p>
            <p class="Q_title"><%- data.Q_title %></a></p>
            <p class="Q_date"><%- data.Q_date %></p>
        </div>
        <div class="detail_author">
            <span>Questions</span>
            <p class="Q_author">작성자 : <%- data.Q_author %> </p>
        </div>
        <pre class="context">
            <%- data.Q_context %>
            <% if (data.attachfile.length > 0) { %>
                <img src="/upload/<%- data.attachfile %>">
            <% } %>
        </pre>
        <% if (data.answer) {%>
            <div class="detail_head">
                <p class="Q_num"><%- data.A_num %></p>
                <p class="Q_title">문의해주신 내용에 대한 답변입니다.</p>
                <p class="Q_date"><%- data.A_date %></p>
            </div>
            <div class="detail_author">
                <span>Answer</span>
                <p class="A_author">작성자 : <%- data.A_author %> </p>
            </div>
            <pre class="context">
                <%- data.A_text %>
            </pre>
        <% } %>
        <div class="btn_wrap">
            <% if (login) { %>
            <!-- 운영자만 사용 가능한 답변 기능 -->
                <% if (login.role === "ADMIN") { %>
                    <% if (data.answer == false) { %>
                        <a href="/qna/answer/<%- data.Q_num %>">답변하기</a>
                    <% } %>
                <% } %>
                <% if (login.memberName === data.Q_author || login.role === "ADMIN") { %>
                    <a href="/dbdelete/<%- data.Q_num %>">삭제하기</a>
                <% } %>
            <% } %>
            <a href="/qna">뒤로가기</a>
        </div>
    </div>
</div>
<%- include('footer', {jsFiles:["tabMenu.js"]}) %> 