<%- include('header', {title:"Jameson",  cssFiles:["reset.css", "HeaderFooter.css", "recipes.css"]}) %> 
    <div id="container">
        <div class="flowText" data-aos="fade-up" data-aos-duration="1000">
            <% for( let i = 0; i < 10; i++ ) { %>
                <p>Signiture Recipes</p><img src="/img/recipe_glass_lemon.svg">
            <% } %>
        </div>
        <div class="headlines">
            <img src="/img/star_marquee_beige.svg" data-aos="fade-up" data-aos-duration="1000" />
            <h6 class="sub_headline"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">제임슨 위스키만의 다양한 칵테일 레시피를 만나보세요</h6>
            <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Jameson's Signitures</h2>
            <img src="/img/recipe_glassbig.svg"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300" /><!-- 레몬색으로 변경 -->
        </div>
        <div class="sorting_wrap">
            <span class="whiskey"><%- (recipes.length < 4 ) ? recipes[0].whiskey.toUpperCase() : "ALL" %> JAMESON RECIPES</span>
            <ul class="sorts">
                <li>
                    <a href="/recipes">모든 레시피 보기</a>
                    <span class="material-symbols-outlined more">expand_more</span>
                </li>
                <% whiskey.forEach((el, idx) => { %>
                    <li><a href="/recipes/<%- el.link %>"><%- el.name %></a></li>
                <% }) %>
            </ul>
        </div>
        <div class="recipes_wrap">
            <% recipes.forEach((recipe, idx)=> { %>
                <div class="recipes" data-aos="zoom-in" data-aos-duration="1000">
                    <img src='<%- recipe.imgs %>'>
                    <div class="texts">
                        <h5><%- recipe.name %></h5>
                        <a href="/recipe/<%- recipe.link %>">Go</a>
                    </div>
                </div>
            <% }) %>
            <% if (recipes.length > 4 ) {%>
            <div class="more_wrap">
                <button type="button"><img src="/img/star_marquee_beige.svg"><span>더보기</span><img src="/img/star_marquee_beige.svg"></button>
            </div>
            <% } %>
        </div>
    </div>   
<%- include('footer', {jsFiles:["tabMenu.js","recipe.js"]}) %> 